
@if (isLoading ===true) {
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <figure>
            <img src="https://i.gifer.com/ZKZg.gif" alt="" style="max-width: 150px; max-height: 150px;">
        </figure>
    </div>
}
@if (isLoading ===false) {
    <div class="row g-5">
        <div class="col-md-6 d-flex align-items-center justify-content-end border-end border-2 border-dark">
            <img [src]="theUser.image" [alt]="theUser.username" class="img-fluid rounded-circle me-5" style="width: 400px; height: 400px;">
        </div>
    
        <div class="col-md-6 d-flex align-items-center justify-content-center ">
            <div class="card-body ms-5">
                <h2 class="card-title mb-3">{{ theUser.first_name }}</h2>
                <h2 class="card-title mb-4">{{ theUser.last_name }}</h2>
                <p class="card-text"><strong>Nombre de usuario:</strong> {{ theUser.username }}</p>
                <p class="card-text"><strong>Email:</strong> {{ theUser.email }}</p>
    
                <div class="mt-3">
                    <button class="btn btn-danger me-2">Eliminar</button>
                    <button class="btn btn-warning me-2" [routerLink]="['/updateuser', idUser]">Actualizar</button>
                    <button class="btn btn-secondary" [routerLink]="['/home']">Volver al listado</button>
                </div>
            </div>
        </div>
    </div>
}

