@if (isLoading === true) {
  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
      <figure>
            <img src="https://i.gifer.com/ZKZg.gif" alt="" style="max-width: 150px; max-height: 150px;">
      </figure>
  </div>
}

@if (isLoading === false) {
<section class="classUser mb-5">
    <div class="row g-4 justify-content-center">
        @for (user of arrUsers; track user._id) {
        <article class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
            <app-user-card [miUser]="user" (deleteItemEmit)="deleteUser(!!$event)"></app-user-card>
        </article>}
    </div>

    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-dark me-2" (click)="gotoPrev()">1</button>
      <button class="btn btn-dark" (click)="gotoNext()">2</button>
    </div>
</section>
}
